<div class="container">
  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <span class="price"> ${{price}}</span>
      <h2>Product detail</h2>
      <p>{{desc}}
      </p>
      <div class="row">
        <div class="col-md-6">
          <h2 class="uppercase">Keep it simple</h2>
          <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
        </div>
        <div class="col-md-6">
          <h2 class="uppercase">Less is more</h2>
          <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
        </div>
      </div>

    </div>
  </div>
</div>