<body>
  <div class="fh5co-loader"></div>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-2">
            <div id="fh5co-logo">
              <a routerLink="">WPI.</a>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 text-center menu-1">
            <ul>
              <li class="has-dropdown active">
                <a routerLink="/product-list">Shop</a>
                <ul class="dropdown">
                  <li>
                    <a href="single.html">Single Shop</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li class="has-dropdown">
                <a href="services.html">Services</a>
                <ul class="dropdown">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">eCommerce</a>
                  </li>
                  <li>
                    <a href="#">Branding</a>
                  </li>
                  <li>
                    <a href="#">API</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
            <ul>
              <li class="search">
                <div class="input-group">
                  <input type="text" placeholder="Search..">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                      <i class="icon-search"></i>
                    </button>
                  </span>
                </div>
              </li>
              <li class="shopping-cart">
                <a href="#" class="cart">
                  <span>
                    <small>0</small>
                    <i class="icon-shopping-cart"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../assets/img_bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Online Coding Judge System</h1>
                <h2>Have Fun With Your Code Here!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="fh5co-product">
      <div class="container">
          <div class="row animate-box">
              <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Enjoy Coding</span>
                <h2>Coding Section.</h2>
                <p>This Section is under testing now, if you find some bugs or have any suggestions, please let us know. We are very appriciated it.
                </p>
              </div>
            </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

              <section>
                  <header class="editor-header">
                    <div class="select">
                        <select class="form-control lang-select" name="language"
                        [(ngModel)]="language" (change)="setLanguage(language)">
                        <option *ngFor="let language of languages" [value]="language">
                          {{language}}
                        </option>
                       </select>
                       <!--reset button -->
                       <!-- Button trigger modal -->
                       <button type="button" id="reset" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                         Reset
                       </button>
                    </div>
                    
                
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            You will lose current code in the editor, are you sure?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                            (click)="resetEditor()">Reset</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </header>
                  <div class="row">
                    <div id="editor">
                    </div>
                  </div><!-- This is the body -->
                  <footer class="editor-footer">
                      <button type="button" class="btn btn-success pull-right" 
                      (click)="submit()">Submit Solution</button>
                  </footer>
                </section>




          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>