<body>
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-2">
						<div id="fh5co-logo">
							<a [routerLink]="['']">WPI.</a>
						</div>
					</div>
					<div class="col-md-6 col-xs-6 text-center menu-1">
						<ul>
							<li class="has-dropdown">
								<a href="product.html">Shop</a>
								<ul class="dropdown">
									<li>
										<a href="single.html">Single Shop</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="about.html">About</a>
							</li>
							<li class="has-dropdown">
								<a href="services.html">Services</a>
								<ul class="dropdown">
									<li>
										<a href="#">Web Design</a>
									</li>
									<li>
										<a href="#">eCommerce</a>
									</li>
									<li>
										<a href="#">Branding</a>
									</li>
									<li>
										<a href="#">API</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
						<ul>
							<li class="search">
								<div class="input-group">
									<input type="text" placeholder="Search..">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="button">
											<i class="icon-search"></i>
										</button>
									</span>
								</div>
							</li>
							<li class="shopping-cart">
								<a href="#" class="cart">
									<span>
										<small>0</small>
										<i class="icon-shopping-cart"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</nav>

		<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../assets/img_bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>House Section</h1>
								<h2>Find your new life in America</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="fh5co-product">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Cool Stuff</span>
						<h2>House.</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor
							eius.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center" *ngFor="let house of houses | paginate: { id:'house',
																							   itemsPerPage: 6, 
																							   currentPage: hp }">
						<div class="product" (click)="toHouseDetail(house.id)" >
							<div class="product-grid" [style.background]="'url('+house.img[0]+')'">
								<div class="inner">
									<p>
										<a class="icon">
											<i class="icon-shopping-cart"></i>
										</a>
										<a href="single.html" class="icon">
											<i class="icon-eye"></i>
										</a>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3>
									<i class="list-group-item-heading" role="presentation">{{house.Address}}</i>
								</h3>
								<span class="price">{{house.price}}</span>
							</div>
						</div>
					</div>	
				   <pagination-controls id="house" 
										class="pageButton" 
										(pageChange)="hp = $event"></pagination-controls>
				</div>				
			</div>
		</div>
		
		<footer id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 fh5co-widget">
						<h3>Shop.</h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa
							amet.</p>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
						<ul class="fh5co-footer-links">
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Help</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
							<li>
								<a href="#">Terms</a>
							</li>
							<li>
								<a href="#">Meetups</a>
							</li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
						<ul class="fh5co-footer-links">
							<li>
								<a href="#">Shop</a>
							</li>
							<li>
								<a href="#">Privacy</a>
							</li>
							<li>
								<a href="#">Testimonials</a>
							</li>
							<li>
								<a href="#">Handbook</a>
							</li>
							<li>
								<a href="#">Held Desk</a>
							</li>
						</ul>
					</div>

					<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
						<ul class="fh5co-footer-links">
							<li>
								<a href="#">Find Designers</a>
							</li>
							<li>
								<a href="#">Find Developers</a>
							</li>
							<li>
								<a href="#">Teams</a>
							</li>
							<li>
								<a href="#">Advertise</a>
							</li>
							<li>
								<a href="#">API</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">Copyright &copy; 2017.Company name All rights reserved.
								<a target="_blank" href="http://guantaow.taobao.com/">厚朴网络淘宝店</a>
								<a target="_blank" href="http://www.moobnn.com">网页模板</a>
							</small>
						</p>
						<ul class="fh5co-social-icons">
							<li>
								<a href="#">
									<i class="icon-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop">
			<i class="icon-arrow-up"></i>
		</a>
	</div>
</body>