<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-1 fh5co-widget">
        <h3>Attention:</h3>
        <p> WPILIFE website just provide a platform. Everyone in WPI can register with his/her WPI email, and can submit what he/she want to sell. We try to make things as easy as possible.
            If this item interests you, you can contact the owner directly! [You can find the contact info of Owner below]
            Thanks for your support!
        </p>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">Copyright WPILIEF Team@2018 All rights reserved.   
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>