
<html lang="en">
  <body> 
  <!-- Navigation
    ==========================================-->
  <app-nav></app-nav>
  <!-- Header -->
  <app-header></app-header>
  <!-- Services Section -->
  <div id="services-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Shopping
          <strong>Section</strong>
        </h2>
        <hr>
        <div class="clearfix"></div>
        <p>There you can find almost whatever you want.</p>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1 col-sm-6 service">
          <i [routerLink]="['house-list']" class="fa fa-home"></i>
          <h4>
            <strong>House/Apartment Rent</strong>
          </h4>
          <p>Please make sure house condition when sign a lease </p>
        </div>
        <div class="col-md-2 col-sm-6 service">
          <i [routerLink]="'book-list'" class="fa fa-book"></i>
          <h4>
            <strong>Book</strong>
          </h4>
          <p>ECE, CS, MSIT, Marketing....All here.</p>
        </div>
        <div class="col-md-2 col-sm-6 service">
          <i [routerLink]="'product-list'" class="fa fa-bed"></i>
          <h4>
            <strong>Others</strong>
          </h4>
          <p>Cars, Bed.....</p>
        </div>
        <div class="col-md-2 col-sm-6 service">
          <i [routerLink]="'demand-list'" class="fa fa-tag"></i>
          <h4>
            <strong>Demand list</strong>
          </h4>
          <p>Someone needs those things.</p>
        </div>
        <div class="col-md-2 col-sm-6 service">
          <i [routerLink]="'sell'" class="fa fa-money"></i>
          <h4>
            <strong>Sell your Product</strong>
          </h4>
          <p>We are glad to help you save money.</p>
        </div>  
      </div>
    </div>
  </div>
  <!-- Portfolio Section -->
  <div id="works-section">
    <div class="container">
      <!-- Container -->
      <div class="section-title text-center center">
        <h2>Recent
          <strong>Product</strong>
        </h2>
        <hr>
        <div class="clearfix"></div>
      </div>
      <div class="categories">   
          <mat-tab-group>   
              <mat-tab label="House">
                  <div class="col-sm-6 col-md-3 col-lg-3 web" *ngFor="let house of showHouses;let i of index">
                      <div class="portfolio-item" >
                        <div class="hover-bg">
                          <a [routerLink]="['house-list', house.id]" >
                            <div class="hover-text">
                              <h4>{{house.Address}}</h4>
                              <small>{{house.price}}</small>
                              <div class="clearfix"></div>
                              <i class="fa fa-plus"></i>
                            </div>
                            <img [src]="house.imgUrl[0]" class="img-responsive" alt="Project Title"> </a>
                        </div>
                      </div>
                    </div>
              </mat-tab>
            <mat-tab label="Book">
                <div class="col-sm-6 col-md-3 col-lg-3 web" *ngFor="let book of showBooks;let i of index">
                    <div class="portfolio-item" >
                      <div class="hover-bg">
                        <a [routerLink]="['book-list', book.id]" >
                          <div class="hover-text">
                            <h4>{{book.name}}</h4>
                            <small>{{book.department}}</small>
                            <div class="clearfix"></div>
                            <i class="fa fa-plus"></i>
                          </div>
                          <img [src]="book.imgUrl[0]" class="img-responsive" alt="Project Title"> </a>
                      </div>
                    </div>
                  </div>
            </mat-tab>
            <mat-tab label="Others">
                <div class="col-sm-6 col-md-3 col-lg-3 web" *ngFor="let product of showProducts;let i of index">
                    <div class="portfolio-item" >
                      <div class="hover-bg">
                        <a [routerLink]="['product-list', product.id]">
                          <div class="hover-text">
                            <h4>{{product.name}}</h4>
                            <small>{{product.price}}</small>
                            <div class="clearfix"></div>
                            <i class="fa fa-plus"></i>
                          </div>
                          <img [src]="product.imgUrl[0]" class="img-responsive" alt="Project Title">  </a>
                      </div>
                    </div>
                  </div>  
            </mat-tab>
          </mat-tab-group>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- About Section -->
  <div id="about-section">
    <div class="container">
      <div class="section-title text-center center">
        <h2>
          <strong>New</strong> Students</h2>
        <hr>
        <div class="clearfix"></div>
        <p>Welcome to WPI, we are waiting for you!</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/11.jpg" class="img-responsive"> </div>
        <div class="col-md-6">
          <div class="about-text" >
            <i class="fa fa-users"></i>
            <h4 [routerLink]= "['survival-guide']"><a id="survival-guide">Survival Guide</a></h4>
            <p>New Students? Look Here, we have prepare everything for you.</p>
            <i class="fa fa-puzzle-piece"></i>
            <h4 [routerLink]= "['pickup']">Airport pickup</h4>
            <p>For more information, please click it.</p>
            <i class="fa fa-check-square-o"></i>
            <h4>Temporary Residence</h4>
            <p>For more information, please click it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section -->
  <!-- Testimonials Section -->
  <div id="testimonials-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Up 
          <strong>Coming</strong> Events</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="testimonial">
            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo
                nibh ante facilisis bibendum dolor feugiat at duis sed dapibus leo nec ornare diam.</p>
              <p>
                <strong>John DOE</strong>, CEO, Company.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="team-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Meet the
          <strong>team</strong>
        </h2>
        <hr>
        <p>Our team is a multi-Culture team. We are here to make our life much eaiser in WPI</p>
      </div>
      <div id="row">
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail">
            <img src="../../assets/Jiahui5.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>Jiahui Chen</h3>
              <p>Founder WPIlife 2.0</p>
              <p>Front and Back End design. proficiency in Angular 2+ CSS3 HTML5 JAVA Node</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail">
            <img src="../../assets/muzammil pic2.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>Muzammil</h3>
              <p>Database Designer/marketing manager</p>
              <p>Database Designer Good at Mysql, Python, Java.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail">
            <img src="../../assets/bao.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>YuXiang Bao</h3>
              <p>Web Designer/CSSA Contacts</p>
              <p>Good at HTML5 CSS3 Jquery.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 team">
          <div class="thumbnail">
            <img src="../../assets/t04.jpg" alt="..." class="img-circle team-img">
            <div class="caption">
              <h3>Mo Cheng</h3>
              <p>Data Manager</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Section -->
  <div id="contact-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>
          <strong>Contact</strong> us</h2>
        <hr>
        <p>If you have any suggestion or want to join our R & D team team, please contact us:</p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
          <i class="fa fa-map-marker fa-2x"></i>
          <p>100 Insitute Road
            <br> Worcester, MA 01609</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope-o fa-2x"></i>
          <p>hbchenjh@gmail.com</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-phone fa-2x"></i>
          <p> +1 800 123 1234</p>
        </div>
        <hr>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>Copyright &copy; 2018 
          <a href="http://wpilife.org/" target="_blank" title="模板在线">WPILife Team </a>
        </p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>