<body>
	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-2">
						<div id="fh5co-logo">
							<a [routerLink]="['']">WPI.</a>
						</div>
					</div>
					<div class="col-md-6 col-xs-6 text-center menu-1">
						<ul>
							<li>
								<a [routerLink]="''">Home</a>
							</li>
							<li>
								<a [routerLink]="'/house-list'">House</a>
							</li>
							<li>
								<a [routerLink]="'/survival-guide'">New Students</a>
							</li>
							<li>
								<a [routerLink]="'/sell'">Sell Your Product</a>
							</li>
							<li>
								<a [routerLink]="'/test'">Contact</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
						<ul>
							<li class="search">
								<div class="input-group">
									<input type="text" placeholder="Search.." [formControl]="searchBox">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../assets/img_bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>House Section</h1>
								<h2>Find your new life in America</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="fh5co-product">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Cool Stuff</span>
						<h2>House.</h2>
						<p>If you find some bugs or have some suggestions, please contack us at: hbchenjh@gmail.com. We are hearing all the time.
							your feedback makes our website better!
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center" *ngFor="let house of houses | houseSearch: searchValue | paginate: { id:'house',
																							     itemsPerPage: 6, 
																							     currentPage: hp };let i = index">
						<div class="product" (click)="toHouseDetail(house.id,i)">
							<div class="product-grid" [style.background-image]="'url('+house.imgUrl[0]+')'">
							</div>
							<div class="desc">
								<h3>
									<i>{{house.Address}}</i>
								</h3>
								<span class="price">{{house.price}}</span>
							</div>
						</div>
					</div>
				</div>
				<pagination-controls class="pageButton" id="house" (pageChange)="getPageNumber($event)" maxSize="9" directionLinks="true"
				 autoHide="true" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
				</pagination-controls>
			</div>
		</div>
		<app-footer></app-footer>
	</div>
</body>