<body>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-2">
            <div id="fh5co-logo">
              <a [routerLink]="['']">WPI.</a>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 text-center menu-1">
            <ul>
              <li class="has-dropdown">
                <a href="product.html">Shop</a>
                <ul class="dropdown">
                  <li>
                    <a href="single.html">Single Shop</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li class="has-dropdown">
                <a href="services.html">Services</a>
                <ul class="dropdown">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">eCommerce</a>
                  </li>
                  <li>
                    <a href="#">Branding</a>
                  </li>
                  <li>
                    <a href="#">API</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
            <ul>
              <li class="search">
                <div class="input-group">
                  <input type="text" placeholder="Search..">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                      <i class="icon-search"></i>
                    </button>
                  </span>
                </div>
              </li>
              <li class="shopping-cart">
                <a href="#" class="cart">
                  <span>
                    <small>0</small>
                    <i class="icon-shopping-cart"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../assets/img_bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Sell Section</h1>
                <h2>Your can Post your Product to Sell at Here</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-product">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <span>Cool Stuff</span>
            <h2>Sell.</h2>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam
              dolor eius.
            </p>
          </div>
        </div>
        <div *ngIf="authService.isAuthenticated() else login" class="row">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 ">
                <mat-form-field class="form-group">
                  <mat-select placeholder="Product Type" [formControl]="selected" [errorStateMatcher]="matcher" [(ngModel)]="type" [(value)]="type"
                    required>
                    <mat-option *ngFor="let option of options" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                  <mat-hint *ngIf="!selected.touched">Please select your product type</mat-hint>
                </mat-form-field>
                <div *ngIf="isOthers(type)">
                  <form action="submit">
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Product Name</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="name" [formControl]="productNameError" [errorStateMatcher]="matcher" name="productName" required>
                      <mat-error *ngIf="productNameError.hasError('required')">Product Name are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Product Price</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="price" [formControl]="productPriceError" [errorStateMatcher]="matcher" name="productPrice" required>
                      <mat-error *ngIf="productPriceError.hasError('required')">Product Price are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Contact Information</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="contactInfo" [formControl]="productContactError" [errorStateMatcher]="matcher" name="productContact"
                        required>
                      <mat-error *ngIf="productContactError.hasError('required')">Contact Information are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>create</mat-icon>
                        <i> A Good Description make your product easy to sell</i>
                      </mat-placeholder>
                      <textarea [(ngModel)]="desc" matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="productDescp">
                             </textarea>
                    </mat-form-field>

                    <input type="file" multiple name="logo" (change)="onFileSelect($event)">
                    <div *ngFor="let time of names">
                      <input type="file" multiple [name]="time" [id]= "time" (change)="onFileSelect($event)">
                    </div>
                    <div class="plus">
                      <i class="fa fa-plus" aria-hidden="true" (click)="onSecondSelect()"></i>
                    </div>
                    <button class="btn btn-primary" (click)="upload()" [disabled]="isBookDisable()">Submit</button>
                  </form>
                </div>

                <div *ngIf="isHouse(type)">
                  <form action="submit">
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your House Address</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="address" [formControl]="productNameError" [errorStateMatcher]="matcher" name="productName" required>
                      <mat-error *ngIf="productNameError.hasError('required')">Product Name are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Rent fee (per Month)</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="price" [formControl]="productPriceError" [errorStateMatcher]="matcher" name="productPrice" required>
                      <mat-error *ngIf="productPriceError.hasError('required')">Product Price are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Contact Information</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="contactInfo" [formControl]="productContactError" [errorStateMatcher]="matcher" name="productContact"
                        required>
                      <mat-error *ngIf="productContactError.hasError('required')">Contact Information are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>create</mat-icon>
                        <i> You can provide other information which you think is necessary at here</i>
                      </mat-placeholder>
                      <textarea [(ngModel)]="desc" matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="productDescp">
                             </textarea>
                    </mat-form-field>
                    <input type="file" multiple name="logo" (change)="onFileSelect($event)">
                    <div *ngFor="let time of names">
                      <input type="file" multiple [name]="time" (change)="onFileSelect($event)">
                    </div>
                    <div class="plus">
                      <i class="fa fa-plus" aria-hidden="true" (click)="onSecondSelect()"></i>
                    </div>
                    <button class="btn btn-primary" (click)="upload()" [disabled]="isBookDisable()">Submit</button>
                  </form>
                </div>

                <div *ngIf="isBook(type)">
                  <form action="submit">
                    <mat-form-field class="form-group">
                      <mat-select placeholder="Book Major" [formControl]="selectedBook" [errorStateMatcher]="matcher" [(ngModel)]="department"
                        [(value)]="department" required>
                        <mat-option *ngFor="let department of Departments" [value]="department">
                          {{department}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="selectedBook.hasError('required')">You must make a selection</mat-error>
                      <mat-hint *ngIf="!selectedBook.touched">Please select your product type</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Book Name</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="name" [formControl]="productNameError" [errorStateMatcher]="matcher" name="productName" required>
                      <mat-error *ngIf="productNameError.hasError('required')">Product Name are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Book Price</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="price" [formControl]="productPriceError" [errorStateMatcher]="matcher" name="productPrice" required>
                      <mat-error *ngIf="productPriceError.hasError('required')">Product Price are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>
                          create
                        </mat-icon>
                        <i>Please Input your Contact Information</i>
                      </mat-placeholder>
                      <input matInput [(ngModel)]="contactInfo" [formControl]="productContactError" [errorStateMatcher]="matcher" name="productContact"
                        required>
                      <mat-error *ngIf="productContactError.hasError('required')">Contact Information are Required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group" [floatLabel]="'always'">
                      <mat-placeholder>
                        <mat-icon>create</mat-icon>
                        <i> You can provide other information which you think is necessary at here</i>
                      </mat-placeholder>
                      <textarea [(ngModel)]="desc" matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" name="productDescp">
                             </textarea>
                    </mat-form-field>
                    <input type="file" multiple name="logo" (change)="onFileSelect($event)">                   
                     <div *ngFor="let time of names">
                      <input type="file" multiple [name]="time" (change)="onFileSelect($event)" >
                    </div>
                    <div class="plus" (click)="onSecondSelect(i)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <button class="btn btn-primary" (click)="upload()" [disabled]="isBookDisable()">Submit</button>
                    <h3>
                      {{ownerID}}
                    </h3>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #login>
          <h4>
            Please <a id="login" (click)="authService.login()">Login</a> First to post your stuff to sell
          </h4>
        </ng-template>
      </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row row-pb-md">
          <div class="col-md-4 fh5co-widget">
            <h3>Shop.</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto
              culpa amet.
            </p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <ul class="fh5co-footer-links">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Meetups</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <ul class="fh5co-footer-links">
              <li>
                <a href="#">Shop</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Testimonials</a>
              </li>
              <li>
                <a href="#">Handbook</a>
              </li>
              <li>
                <a href="#">Held Desk</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
            <ul class="fh5co-footer-links">
              <li>
                <a href="#">Find Designers</a>
              </li>
              <li>
                <a href="#">Find Developers</a>
              </li>
              <li>
                <a href="#">Teams</a>
              </li>
              <li>
                <a href="#">Advertise</a>
              </li>
              <li>
                <a href="#">API</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row copyright">
          <div class="col-md-12 text-center">
            <p>
              <small class="block">Copyright &copy; 2017.Company name All rights reserved.
                <a target="_blank" href="http://guantaow.taobao.com/">厚朴网络淘宝店</a>
                <a target="_blank" href="http://www.moobnn.com">网页模板</a>
              </small>
            </p>
            <ul class="fh5co-social-icons">
              <li>
                <a href="#">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </footer>
  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop">
      <i class="icon-arrow-up"></i>
    </a>
  </div>
</body>