<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Product Owner contact info</h3>
      <ul>
        <li>{{house.contactInfo}}</li>
        <li>Veritatis tenetur odio delectus quibusdam officiis est.</li>
        <li>Magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam
          officiis est.</li>
      </ul>
      <ul>
        <li>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas
          eius</li>
        <li>adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi</li>
        <li>Veritatis tenetur odio delectus quibusdam officiis est.</li>
        <li>Magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam
          officiis est.</li>
      </ul>
    </div>
  </div>
</div>
