
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  #example-radio-button {
    margin: 5px;
    font-weight: bold;
  }
  
  .example-selected-value {
    margin: 15px 0;  
  }
article p {
text-indent:25px;
margin-bottom: 20px;
text-align: left;
}
article h2 {
    color: brown;
}
article li{
  list-style:none;
  margin:0;
  text-align: left;
}

 