<body>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-2">
            <div id="fh5co-logo">
              <a [routerLink]="['']">WPI.</a>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 text-center menu-1">
            <ul>
              <li>
                <a [routerLink]="''">Home</a>
              </li>
              <li>
                <a [routerLink]="'/house-list'">House</a>
              </li>
              <li>
                <a [routerLink]="'/survival-guide'">New Students</a>
              </li>
              <li>
                <a [routerLink]="'/sell'">Sell Your Product</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../assets/img_bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>New Students Survival Guide</h1>
                <h2>Prepare your life in WPI</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="fh5co-product">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <span>Made by WPI CSSA</span>
            <h2>WPI CSSA OFFICAL GUIDE</h2>
            <p>If there are something unclear to you, please let us know.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 choice">
            <div class="product">
              <h3>
                <i>Catalog:</i>
              </h3>
            </div>
            <mat-radio-group class="example-radio-group" id="example-radio-group" [(ngModel)]="selected">
              <mat-radio-button class="example-radio-button" *ngFor="let index of Indexs" [value]="index">
                {{index}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="example-selected-value">Your favorite season is: {{selected}}</div>
          </div>

          <div class="col-md-9 text-center">
            <article [ngSwitch]="selected">
              <div *ngSwitchCase="'Prelude'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <p align="left">亲爱的同学:</p>
                <p align="left">你好!</p>
                <p align="justify">
                  首先我们代表WPI中国学生学者联谊会Chinese Students & Scholars Association(CSSA)欢迎您来WPI学习深造! WPI地处美国历史最悠久的马萨诸塞州,不仅人文气息浓厚,而且高科技产业由于众多大学的支撑而非常发达。对于WPI的同学来说,无论理工文商,这里都是学习和工作的理想地点。
                </p>
                <p align="justify">
                  WPI CSSA主要是由来自中国的学生和学者组成的志愿性组织。目前我们已有超过300名成员,其中包括学生、教授、访问学者及家属等。CSSA的主要任务是为中国学生学者提供一些生活和学习上的帮助,包括接新生、帮助新生安顿和适应这里的生活、举办中秋晚会、春节晚会等具有中国特色的活动等等。
                  这本新生手册主要是为了帮助刚来到美国,来到Worcester的新同学、朋友们尽快地适应这里的生活、学习和工作。本手册经过WPI中国学生学者联谊会成员们的共同努力制作而成。这里, 我们向所有参与编写和校正的同学们表示深深的感谢!
                  本手册中不足之处恳请大家及时指正,我们会不断地更新和完善。本手册中出现的一些网上购物地点或者订机票代理等的电话,完全是同学们平时积累的经验所得,不存在任何商业广告行为。 我们也真诚地希望能有更多热心的同学、朋友们加入WPI中国学生学者联谊会,互相帮助,共同努力,
                  更好地为这里的中国学生学者们服务! 最后, 祝大家在WPI过得愉快、充实!
                </p>
                <p align="right">
                  CSSA 敬上 2017年夏
                </p>
              </div>
              <div *ngSwitchCase="'Introduction'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <p align="left">
                  (1) CSSA 2017 FALL QQ 群:107266431
                </p>
                <p align="left">
                  此群为
                  <span style="background-color:#FFE500;">实名制</span>
                </p>
              </div>
              <div *ngSwitchCase="'Before come to America'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Flight'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'After Arrival'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Life in WPI'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Come back to China'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Postscript'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Appendix'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Acknowledgments'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>