<body>
  <div id="page">
    <nav class="fh5co-nav" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-2">
            <div id="fh5co-logo">
              <a [routerLink]="['']">WPI.</a>
            </div>
          </div>
          <div class="col-md-6 col-xs-6 text-center menu-1">
            <ul>
              <li>
                <a [routerLink]="''">Home</a>
              </li>
              <li>
                <a [routerLink]="'/house-list'">House</a>
              </li>
              <li>
                <a [routerLink]="'/survival-guide'">New Students</a>
              </li>
              <li>
                <a [routerLink]="'/sell'">Sell Your Product</a>
              </li>
              <li>
                <a [routerLink]="'/test'">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../assets/img_bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>New Students Survival Guide</h1>
                <h2>Prepare your life in WPI</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="fh5co-product">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <span>Made by WPI CSSA</span>
            <h2>WPI CSSA OFFICAL GUIDE(content is not finish)</h2>
            <h3>If there are something unclear to you, please let us know.
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 choice">
            <div class="product">
              <h3>
                <i>Catalog:</i>
              </h3>
            </div>
            <mat-radio-group class="example-radio-group" id="example-radio-group" [(ngModel)]="selected">
              <mat-radio-button class="example-radio-button" *ngFor="let index of Indexs" [value]="index">
                {{index}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="col-md-9 text-center newstudent">
            <article [ngSwitch]="selected">
              <div *ngSwitchCase="'Prelude'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <p align="left">亲爱的同学:</p>
                <p align="left">你好!</p>
                <p align="justify">
                  首先我们代表WPI中国学生学者联谊会Chinese Students & Scholars Association(CSSA)欢迎您来WPI学习深造! WPI地处美国历史最悠久的马萨诸塞州,不仅人文气息浓厚,而且高科技产业由于众多大学的支撑而非常发达。对于WPI的同学来说,无论理工文商,这里都是学习和工作的理想地点。
                </p>
                <p align="justify">
                  WPI CSSA主要是由来自中国的学生和学者组成的志愿性组织。目前我们已有超过300名成员,其中包括学生、教授、访问学者及家属等。CSSA的主要任务是为中国学生学者提供一些生活和学习上的帮助,包括接新生、帮助新生安顿和适应这里的生活、举办中秋晚会、春节晚会等具有中国特色的活动等等。
                  这本新生手册主要是为了帮助刚来到美国,来到Worcester的新同学、朋友们尽快地适应这里的生活、学习和工作。本手册经过WPI中国学生学者联谊会成员们的共同努力制作而成。这里, 我们向所有参与编写和校正的同学们表示深深的感谢!
                  本手册中不足之处恳请大家及时指正,我们会不断地更新和完善。本手册中出现的一些网上购物地点或者订机票代理等的电话,完全是同学们平时积累的经验所得,不存在任何商业广告行为。 我们也真诚地希望能有更多热心的同学、朋友们加入WPI中国学生学者联谊会,互相帮助,共同努力,
                  更好地为这里的中国学生学者们服务! 最后, 祝大家在WPI过得愉快、充实!
                </p>
                <p align="right">
                  CSSA 敬上 2017年夏
                </p>
              </div>
              <div *ngSwitchCase="'Introduction'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <p>
                  (1) CSSA 2018 FALL WeChat Group: 请加微信：chenjiahui11993, 备注专业姓名，之后会拉你入群，进群请备注姓名。
                  <b>定时清理人员,请及时更改</b>。
                </p>
                <p>
                  (2) WPILIFE网站</p>
                <p align="left"> WPILIF是一个CSSA官方的信息分享网站，网址是http://wpilife.org需要注册。 WPILIFE上会经常有学校活动信息发布，同时也有很多同学在该网站上出售物品， 新生也可以在这个网站以较低的价格买到学长学姐们的二手商品，给大家都提供了便利。
                  发布商品教程请看http://wpilife.org/manual/6，非常简单明了！ 同时也请大家提高警惕，防范骗子，及时举报。</p>
                <h2 align="left">CSSA 简介</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <p>
                  对WPI CSSA工作的意见与建议:
                </p>
                <p>
                  请发邮件到: 151yuhongyi@gmail.com; yxq722@gmail.com
                </p>
                <p>
                  对WPIFLIE 网站的意见与建议:
                </p>
                <p>
                  请发邮件到: hbchenjh@gmail.com
                </p>
                <p>
                  Chinese Students & Scholars Association (CSSA), 即中国学者联谊会:
                </p>
                <p>
                  Email: cssa@wpi.edu
                </p>
                <p>
                  Chinese Student Association (CSA), 即中国学生会:
                </p>
                <p>
                  Email: csa@wpi.edu
                </p>
                <p>
                  International House (IH), 即 WPI 的国际学生管理部门:
                </p>
                <p>
                  Phone: +1-508-831-6030
                </p>
                <p>
                  Email: ih@wpi.edu and website Webpage: http://www.wpi.edu/offices/ih/
                </p>
              </div>
              <div *ngSwitchCase="'Before come to America'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <mat-tab-group>
                  <mat-tab label="签证">
                    <p>网上的签经有很多,这里就不多说了。附上几个国内比较有名的留学论坛的签证版网址。</p>
                    <ul>
                      <li>太傻
                        <a href="http://bbs.taisha.org/forum-73-1.html">http://bbs.taisha.org/forum-73-1.html</a>
                      </li>
                      <li>一亩三分地
                        <a href="http://www.1point3acres.com/bbs/">http://www.1point3acres.com/bbs/</a>
                      </li>
                    </ul>
                    <p>
                      关于签证,这里要解释一下。你在美国能够呆多久不是签证官决定的, 而是你刚进入美国的机场的入境官决定的。他会根据你的签证和 I-20 来判断你在美国能呆多久。一般都是D/S（Duration of status）。 这意味着只要你不出美国,你可以一直待到结束学业。现在从大陆来的同学签证一般都是5年期的,意思是你可以在5年内无限次进出美国，但是也存在被check后只有一年的情况。如果你在签证过期后出了美国国境,再次回到美国就需要重新签证（一般即将过期的话最好也重新签,以免出问题，比如签证
                      6.18到期,你打算6月1号的飞机回美国,就最好去重新签一个）。 International House的回复是一般WPI的学生签证过期又不想回家的,可以去墨西哥或者加拿大去重新签证。为什么不能在美国本土重新签证呢？因为管签证的是美国大使馆。在美国本土怎么可能有美国大使馆呢？
                      （我觉得挺扯淡的。其他国家都行。如果签证过期之后,只要不出美国是没有问题的。因为签证代表的是你合法进入美国的期限，跟出去没有关系。）
                    </p>
                  </mat-tab>
                  <mat-tab label="订机票">
                    <p>
                      可以找当地的机票代理，但因为是单程会比较贵。买的早可能更便宜，买的迟就贵。当然也看地区，一般从北京、上海、香港可能相对便宜，经停点越多越便宜。定机票后请将航程信息填入CSSA接机表，等统计完成后会放出统计结果，具体链接请见群分享或询问CSSA。
                    </p>

                    <p>
                      <span>订机票时如果需要到第三个国家转机，请提前查好是否需要该国家的签证。</span>
                    </p>

                    <p>
                      <span>建议订美国东部时间7pm之前到达的飞机，以防突发情况发生无人接机.</span>
                    </p>
                  </mat-tab>
                  <mat-tab label="找飞友&订limo">
                    <p>
                      首先，limo不是加长凯迪拉克，它就是叫limo而已......一般也就是轿车或者van。 当大家签证办好之后请到新生群里询问一下在同一地区的同学，大家尽量约好一起飞。一是一路上互相有个照应，一起聊个天吃个饭什么的，等待时间长的话还可以轮流睡觉；二来是到伍斯特之后可以大家一起订limo去学校。学长姐们毕竟有限，他们也都有自己的事情要忙。
                    </p>
                    <p>
                      <span>订 limo 的网站:</span>
                    </p>
                    <ul>
                      <li>Knight Limo:
                        <a href="www.knightlimo.com">www.knightlimo.com</a>
                      </li>
                      <li>Worcester Limo:
                        <a href="www.wlimo.com">www.wlimo.com</a>
                      </li>
                    </ul>
                    <p>
                      注意，一辆车好像只能指定送到一个地点，这是规定，你可以试着跟司机说好话让他多送几个地点。成功率好像不高，成功的话记得多给小费，不然可能没有下次了。 订limo流程:订车的时候选择付现金，这样如果司机服务态度不好，比如不帮你提箱子之类的就少给点小费。

                      <span>小费一般10%。</span>
                    </p>
                    <p>
                      每年CSSA会组织学长学姐的老司机群提供有偿接机服务，详细信息请关注WPICSSA微信平台，请在官方新生群里发信息，会有CSSA的学长学姐联系老司机群的。
                    </p>
                  </mat-tab>
                  <mat-tab label="体检和疫苗">
                    <p>
                      大家拿到offer的时候应该也同时看到学校要求要寄体检单子和疫苗注射的单子，如果没有请到此处下载
                      <a href="http://www.wpi.edu/Admin/Health/forms.html" target="_blank">http://www.wpi.edu/Admin/Health/forms.html</a>。在国内一般都是去各地的国际旅行卫生保健中心去体检（还有些同学去大医院也行，主要就是让他们填单子盖章）。带着身份证、体检表、2张二寸证件照、小时候的疫苗记录本、1000元人民币（其实用不了这么多）去就好了。
                    </p>
                    <p>
                      因为可能要做一个TB皮试，有些地方不是每天可以做，所以去之前大家可以打个电话去问一下一周哪几天可以做TB皮试，不然可能就要多跑一趟。然后，如果疫苗本找不到了也没关系，大不了多扎几针
                    </p>
                    <p>
                      体检和疫苗两个部分哪个先做都可以，完了会给一本黄色的体检证和一本深红疫苗证。这两个如果你去其他国家也会认，因为上面盖着中国国家检疫检验局的大章。虽然学校让把体检表寄回来，其实也可以来了以后再交。期间你的账号会被hold而已，大概就是不能自己在网上注课。学校网站上的四份表都要下载填写。体检要尽早，很多疫苗要打多次，然后其间要隔三四个星期，所以体检越早越好。
                    </p>
                    <p>
                      体检表格指南请见附录。 另外请参考CD(有分地区介绍):
                    </p>
                    <ul>
                      <li>
                        <a href="http://www.chasedream.com/list.aspx?cid=36" target="_blank">http://www.chasedream.com/list.aspx?cid=36</a>
                      </li>
                      <li>武汉
                        <a href="http://parents.tiandaoedu.com/ready/17271.html" target="_blank">http://parents.tiandaoedu.com/ready/17271.html</a>
                      </li>
                    </ul>
                  </mat-tab>
                  <mat-tab label="住房">
                    <p>
                      1)临时住房
                    </p>
                    <p>
                      a. 想要来之后再看房子的同学可以暂时住在International House三天，需要提前申请，租金是20美元/天/人。房子很紧，越早申请越好。
                    </p>
                    <p>
                      b. 租不到International House住房的同学，可以找老生帮忙，借住几晚，按天付房租。建议价格20-25美元/天/人。这个钱是帮老生付你居住期间的水费电费网费等等。
                    </p>
                    <p>
                      <span>强烈建议不要相信各种中介！！！！！如果非要租中介的房子请一定联系学长学姐实地考察，再三斟酌！尤其是中国房东的房子！这里重点强调！老中坑老中就是这么开始的。</span>
                    </p>
                    <p>
                      2）关于房子
                    </p>
                    <p>
                      首先，美国的房子分House和Apartment。House就比较有乡村风情，一幢一幢的房子。整幢租给你的话，可能就是大家公用一楼的厨房客厅，二楼各睡各屋；另一种就是House里两层或三层，每层住3个人，然后厨房客厅卧室都在一层。Apartment
                      就是公寓了，公寓一般比较现代化，房子也会新一点。 新生可以在来之前就找好房子，如果你想亲自看看这边住房的条件再决定，也可以来了以后再找。按照所有权，房子大概分为以下两类：
                    </p>
                    <b>a. On-Campus</b>
                    <p>
                      On-campus的房子是学校的，分布在学校周围比较近的区域。月租500-600美元，包热水包电（美国这边未加热的水是免费的）；有家具（furnished）（一般有Twin size的床，桌子，椅子等）。500美元的是三个人share一层，3个Bedroom，一个卫生间，一个厨房，1-2个living
                      room；600美元的是三个人share整个两层的House，一楼是厨房客厅，二楼是Bedrooms。
                    </p>
                    <p>
                      学校的房子有一些有洗衣机和烘干机，免费无限量使用，另一些只有laundry room/center，收费。除了设备齐全、空间大之外，学校的房子不需要deposit，lease也比较灵活（每个月一签）。如果想搬走，大概提前一个半月通知管理员就可以。另外，学校还有专门的服务人员负责维修，如果是下水道堵了之类的小事情，一般都是免费的。
                    </p>
                    <p>
                      申请学校的房子，请联系 Residential Services: Amy Beth Polonsky Phone: +1 508-831-5130; Email: apolonsky@wpi.edu 遇到高峰期，可能要排上比较久时间(运气好的话一般可以排到)。
                      注意: 申请学校的房子不需要提前找好roommate,都是学校安排。
                    </p>
                    <b>b. Off-Campus</b>
                    <p>
                      Off-campus的房子一般是Owner的，也有个别是中介公司旗下的，有的距离学校很近，像West Street，隔条Institute Road就是学校；有的则比较远，像William Street,etc,走路大概需要10几分钟。 房子一层3-4个Bedroom是最普遍的房型，有的房子两层4-5个Bedroom，很多把Living
                      room改造成Bedroom。很多时候是整体出租，需要大家租房之前自己找好室友。月租350-600美元不等。房租低的一般不包括任何Utilities，像电和气都得自己付。暖气分三种，烧油的，烧气的和电暖。
                      烧油的，油大概570美元150 gallon，可以用一个多月；电暖大约 30 美元/月/人；气暖暂时不了解。一般烧油和气的不给力还贵。然后，如果是包水电暖的房子，注意问一下房东是不是有限制，比如暖气是不是随便开之类的。
                    </p>
                    <p>
                      还有一点就是有的房子是带家具的，价格会高点，便宜的很多基本是没有家具的。对新生来说，住Furnished apartment会方便一点，毕竟第一年来什么都没有，要一样一样家具买起来还是挺累人的。如果找的是Unfurnished apartment，那么来了以后可以买点家具，例如Wal-Mart,
                      Target, IKEA, Home Depot等。如果想找价廉物美的家具，可以去Yard sale看看，会比店里便宜不少，或者去上面的那个Craigslist上去淘，经常能遇见比较便宜的。旧家具还可以去Park
                      Ave的Good Will，和Chandler Street上面的旧家具店买（如果早点儿来，还可以捡到路边的椅子，桌子之类的家具。床垫沙发之类的不要轻易往家里搬，容易藏匿bad bug)。 校外的房子，一般都要签一年或者至少9个月的lease，还要交safety
                      deposit，第一个月和最后一个月的房租。在这里必须要提醒大家的是，一定要考虑清楚以后，才能慎重地签下你的lease。一不经意就可能碰到恶房东，可别小看这房东的作用，一个可怕的房东，会给你带来一年阴沉的心情，最后还可能拿不回押金。Nice的房东会很体贴，例如帮你修东西，整理草坪，放置家具等等。找房子最好自己看个仔细清楚明白。想买车的同学还要看租住的房子有没有停车位置，或者周围是否适合街边停车。冬天的时候路边有雪，街边停车位比较难找，有个固定车位还是挺方便的。
                      房子的位置也要考虑，尽量离学校近一点。第一年没有车，住的远会比较麻烦。买车了以后可以考虑离学校远一点得房子（学校规定距离学校超过1 mile的可以办停车证）。下图是我们总结的所谓安全区，供参考。
                    </p>
                    <img src="http://wpilife.org/kindeditor/attached/image/20130821/20130821124622_59100.png">
                    <p>
                      一般在学校附近区域内的房子综合条件比较理想，无论远近、安全、安静程度都比较好。总体来说，住房的综合条件由西向东，由北向南逐渐递减。Park Ave以西是一个山坡，也是可以考虑的。Highland以南的地区，在Dix street和Bowdoin
                      street上现在也有很多中国学生租住。
                    </p>
                    <p>
                      网上在线找房子有两个地方:
                    </p>
                    <ul>
                      <li>
                        WPI Apartment Finder System:
                        <a href="http://www.wpi.edu/offices/rso/aptfinder.html" target="_blank">http://www.wpi.edu/offices/rso/aptfinder.html</a>
                      </li>
                      <li>Craigslist网站Worcester地区WPI附近:
                        <a href="http://worcester.craigslist.org/search/apa?query=WPI" target="_blank">http://worcester.craigslist.org/search/apa?query=WPI</a>
                      </li>
                    </ul>
                    <p>
                      前者信息更新较慢，但是集中，都是针对WPI的。后者更新极其迅速，但是未必有很近的房子，而且很多重复的。在使用后面这个叫做craigslist的网站的时候，注意在搜索里打WPI，这样你不至于找到走一天也到不了WPI的房子了。 总而言之，不能简单比较房租，要比较加上各种因素以后的价钱和综合性能。
                    </p>
                  </mat-tab>
                  <mat-tab label="行李">
                    <b>a.限重及规定</b>
                    <p>
                      每个航空公司的限重是不同的，所以不在这里一一列出。所有情况可以在航空公司的官方网站找到。之前很多航空公司可以免费托运2个23KG的箱子，好像现在有规定只能带一个箱子了；托运箱子一般是30寸的。由于大家定的航空公司都不一样，而且是新规定，所以具体要求请同学们自行与航空公司确认。
                      绝对不要超重。一般超过1-2KG不算超重。超重的话国内会罚500RMB。不要带任何肉类食品、土壤、植物、种子。真空包装的肉类（如烤鸭，临武鸭，绝味......怎么全都是鸭......）之类通常也会被没收。带太多的话，可能罚款；听说过罚款300美元的，但不确定罚款会不会视情况而定。进入美国的托运行李是不能上锁的，除非是TSA（transit
                      security authority, 美国国土安全部下面的一个部门）同意的锁子。这些锁淘宝上有卖, 不过建议一点都不锁。由于有开箱检查的可能性,因此这种情况下上了锁可能会被直接撬开。可以用打包带捆好箱子,上面贴上个人信息。贵重物品请务必随身携带,谨防丢失。
                    </p>
                    <b>b.书本</b>
                    <p>教材可以通过以下链接找到，因为每门课每一届用的书可能不一样，请务必先查证后再买：</p>
                    <ul>
                      <li>
                        <a href="http://wpi.bncollege.com/webapp/wcs/stores/servlet/TBWizardView?" target="_blank">http://wpi.bncollege.com/webapp/wcs/stores/servlet/TBWizardView?</a>
                      </li>
                      <li>
                        <a href="catalogId=10001&storeId=32554&langId=-1" target="_blank">catalogId=10001&storeId=32554&langId=-1</a>
                      </li>
                    </ul>
                    <p>
                      来之前问问这边的师兄师姐需要什么教科书,看看国内是否有影印版。否则这边教材很贵，国内人民币76元的书，这里可以卖122美元。不过如果你的行李超重就算了，还有其他办法省教材费。非要带的话，可以通过海运提前一两个月把一些你觉得很有用的但是又不能托运的书寄过来，让这边的师兄姐们代为接收。也可以在国内的当当网订购直接海运过来，每本书的运费是书价的一半。
                    </p>
                    <b>c.衣物服饰</b>
                    <p>如果是夏天过来，T恤要多带一些，因为会换的比较勤快。但是T恤这边卖的很便宜，所以也要酌量携带。这里的夏天相对来说凉快一点，不过也有三十几度高温的日子。另外，需要带一些常用的大衣和外套；这里冬天经常下雪，室内外温差又大，可以买比较长，可以把膝盖都包住的羽绒服，这样在外面走的时候就不会太冷。
                      不过羽绒服也可以在这儿买，价格可以接受,到了第二年打折也非常多,买了屯着很划算。 只是可能款式没有很好看。太长的羽绒服男生穿有点奇怪,不太建议。女生或者买比较好的长大衣；这边也比较普遍，国内的样式就是稍微好看一些。总之，原则就是外面要够厚，里面可以少穿一些，到了屋里把外套脱了也不会太热。另外对于女生来说，可以考虑在国内买一些小饰品，比较便宜好看，比如围巾，手套，毛袜什么的。然后就是这边都是人字拖比较多，喜欢传统拖鞋滴同学们可以从国内带过来。最后，衣服鞋子等在过节的时候打折很厉害，可以很便宜的价格买到不错的。例如感恩节，圣诞节和独立日等。总之，不建议带太多的衣物过来。不过这边穿衣服的风格跟国内不一样，喜欢日韩系的同学就多带几件喜欢的吧；喜欢T-shirt,牛仔，欧美风的就随意啦。
                    </p>
                    <p>
                      正装:对于男生，带几件好点的衬衫加一套完整的西服西裤领带就好了。 女生除了上述西装（西裤可由西装裙代替），还要1-2件中/西式晚礼服。西装人手一套一定要的，参加各种面试没有正装是不会有开始的。有时会有什么晚宴之类的，或者有比较正式的场合，这种时候男生很简单，继续西装就可以了，女生就要穿礼服了。嫌麻烦的也可以来这边再买，美国正装礼服很多的，知名品牌也不会太贵。
                    </p>
                    <p>
                      Business casual: 指的是衬衫或者polo式样的有领tshirt+高尔夫球裤。
                    </p>
                    <p>
                      Business attire: 指的是一整套西装, 但是有时候也可以衬衫+西裤。
                    </p>
                    <p>
                      泳装: 喜欢游泳的人可以买了带过来,国内式样花纹都漂亮很多,我指的是女式。男式的要买肥大,裤腿长一点的,紧身的那种老美会觉得你怪怪的。游泳眼镜最好也从国内带,特别是需要近视的那种的。
                    </p>
                  </mat-tab>
                  <mat-tab label="家居用品">
                    <p>对于某些对被子要求比较高的，可以带上一条国内高档被子，比如蚕丝被，鸭绒被，确实不用太厚，室内都挺暖和的。倒是这边的被子又贵又很普通。还有这边的被单也是非常丑，质量平平，价格昂贵，喜欢漂亮的同学建议自己从国内带过来。另外可以带一些对你个人意义比较大的东西，比如男女朋友照片，各类定情信物，父母照片等等。</p>
                    <p>Worcester有半年是冬天，所以保暖很重要。不过北方的同学应该知道，北方的冬天虽然冷，但是暖气一开，屋子里还是很暖和的。同样，Worcester的冬天虽然有时会达到零下二十度的低温，但在房间里还是够暖和的。除非你不幸地碰到了一个吝啬的房东，而你们家暖气的控制开关又掌握在房东手里。非常怕冷的同学可以带一个电热毯过来（电热毯美国也有卖,不知道好不好用,叫heated
                      pad）。打算住在学校公寓的就不用担心了，暖气都很足的
                    </p>
                    <p>
                      衣架、洗发水、各种护肤品，在美国都是很便宜的；但这边配眼镜很贵，所以最好在国内配个两副带过来。 最好再带些常用感冒药，止痛药（牙疼，智齿），退烧药，消炎药，抗生素，胃药等，自己吃习惯了的药。女生的卫生用品这边都有卖，只是样式不多；月经止疼药也可以带一点，红糖和红枣这边买得到。中成药可能含有违禁成分，如果带的量大，请一定确定它是否能通过海关。
                    </p>
                    <b>电子产品</b>
                    <p>1)笔记本电脑：</p>
                    <p>个人建议是，如果还没买的话就来美国买。 这种电子产品美国的价格一般会比国内便宜很多，而且还会有学生折扣。如果自己已经有了笔记本，配置又还可以的话可以带过来，毕竟刚来的时候家里没有电脑可以上网，还是会有不少不方便的地方。
                    </p>
                    <p>
                      2)手机:
                    </p>
                    <p>
                      国内的手机也可以带过来，来之前确认一下你的那款手机可不可以在美国用。来这边新版一个手机也不贵，美国电话公司一般可以签两年合同免费拿手机。相对于这边的消费水平，这里手机话费是比较便宜的。很多人用包月服务随便打电话；短信偏贵，包月也不如国内划算。办了手机以后可以买国际电话卡，从美国达到中国一两美分一分钟；比如一种叫
                      ecallchina的卡(www.ecallchina.com)，20刀能打1200分钟。手机/电话卡：国内手机卡有两种选择，一是停机，二是开国际漫游。建议至少开一个月的国际漫游，这样到了美国之后方便与接机的人联络，也便于给家人报平安。彻底停掉手机的同学可以先买Prepaid
                      电话卡（淘宝上有卖），过来之后可以用别人的手机或者公用电话联络。
                    </p>
                    <p>
                      3)相机，优盘和移动硬盘
                    </p>
                    <p>
                      一般都是来了这边再买。网上有便宜的Deal,例如www.dealsea.com。国内有了就自己带过来吧。(小提示，买了Macbook系列的同学们，苹果的移动硬盘和Windows不兼容，需要装一个APP，不需要重新买一个Apple的移动硬盘。)
                    </p>
                    <p>
                      家用电器
                    </p>
                    <p>
                      只要是电器，大部分都不用带，包括插座，一是电压和频率不一样，上面提到的电热毯，因为是电阻丝发热。倒是影响不太大，功率低点而已。二是只要你想得到的，在国内看到过的，这边基本都有，而且都很便宜！例如男生的刮胡刀，甚至包括女生用的卷头发器和直发器......满店都是。特别的，就是有人带国内的豆浆机过来，这个记得要和厂家说好换成美式的电插头。不过现在豆浆机这边也有卖。变压器记得带一个，如果是带自己在中国买的电脑来，一般需要变压器。
                    </p>
                  </mat-tab>
                  <mat-tab label="厨房用品/其他">
                    <b>1)锅:</b>
                    <p>
                      基本有都有,就是换成RMB贵点。高压锅是个累赘不用带,这边在Wal-Mart和亚马逊可以买得到,比较便宜。 还要根据住处的炉子情况来决定用什么锅,比如电炉子,用平底锅比较好。美国的火都不是很旺。这边煮牛肉要去血水,肉很难煮软。有了高压锅就 方便很多了,红烧肉20分钟柔软无比。还可以压土豆泥~凹形铁锅这边的没有国内的好,不怕麻烦的可以带一只不粘锅过来。但其实这边也有卖。电饭锅,千万不用带,这边又便宜又好用,网购店购皆可。
                    </p>
                    <p>
                      2)菜刀/餐具:
                    </p>
                    <p>
                      好的大菜刀和砍 骨头的刀可以带。这边很少卖宽刀的,有也不好用。买把好的过来。案板不用带。带个两三块钱的小磨刀石,可能有用。如果对碗有偏好,可以带一两只自己很喜欢的碗过来。还有筷子,可以带几根。没有要求的话,中国/亚洲超市一般也都买得到。
                    </p>
                    <p>
                      压蒜器,刨皮刀这种小东西可以考虑带一个好用的。这边有卖就是不太好用。
                    </p>
                    <p>
                      这边中国店调料还是很全的,基本应有尽有不用自带调料。
                    </p>
                    <p>2)护肤用品</p>
                    <p>
                      关于平时的生活用品卫生用品,比如,洗发水、沐浴露之类的就别带了,这里超市里 卖得很便宜。喜欢护肤品的,那你来到美国就来对地方了,就算没有sale的时候,价格也 比国内便宜很多,所以你的瓶瓶罐罐甚至都不用带了。这边只是亚洲牌子的比较少,不过 也可以网购。而如果你喜欢的是欧洲的牌子,比如Clarins啊Nuxe之类的,美国价格和国
                      内差不多,但是如果你喜欢Clinique, EsteeLauder或者Lancome等的话,那你完全可以把 现在用的东西送人了,一身轻松地来到美国开始新的shopping历程吧,这边真是既便宜小 样又多。
                    </p>
                    <p>
                      文具
                    </p>
                    <p>
                      美国人用黑色圆珠笔和铅笔的比较多,习惯用水性笔的同学可以自己带几只;带自动铅笔的记得多带几盒笔芯。美国人习惯用大本子,A4纸那么大的,喜欢小本子的同学也请自备。然后,剪刀,美工刀,尺子等等都是有的,只是不漂亮,价格比起国内稍微贵一点点。文具这些其实用的不多,现在基本都电子化了,所以按自己喜欢带吧
                    </p>
                    <p>
                      小礼品
                    </p>
                    <p>
                      可以带一点中国结之类由中国特色的小礼物,可以送给喜欢的朋友和老师。7.手机/电话卡国内手机卡有两种选择,一是停机,二是开国际漫游。建议至少开一个月的国际漫游,这样到了美国之后方便与接机的人联络,也便于给家人报平安。彻底停掉手机的同学可以先买Prepaid电话卡(淘宝上有卖),过来之后可以用别人的手机或者公用电话联络.
                    </p>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div *ngSwitchCase="'Flight'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <h3 align="left">
                  登机前准备
                </h3>
                <p>
                  确保护照,i-20,钱,手机(联络工具)务必带好,其他关系不大。
                </p>
                <p>
                  飞行及过境
                </p>
                <p>
                  从起飞机场开始,流程是这样的:
                </p>
                <ul>
                  <li>
                    1. 国内机场换票托运登机
                  </li>
                  <li>
                    2. 在飞行途中填i-94
                  </li>
                  <li>
                    3. 到美国后第一个降落点下飞机,过海关交i-94;取行李,行李抽查,交行李
                  </li>
                  <li>
                    4. 到达或继续飞往目的地
                  </li>
                </ul>
                <p>
                  在飞机上面空姐会分发进入美国移民局的I-94表格(十分重要)和美国海关的申报表如果大家有什么不会填,也可以找空姐MM们帮忙。对于美国公民、持美国绿卡的居民和美国护照的居民,可以不用填写I-94表格。按照美国规定,任何人通过飞机进入美国境内,其第一个降落点就是入境处。比如,从北京飞西雅图再转机到波士顿,西雅图就是入境口岸。下了飞机便是美国移民局(好像还有国土安全局)的检查点,就是边防。在这里他们会对你的I-94、护照、签证、I-20(对学生)进行检查。在排队的时候,会有一个人来检查你的文件,看东西填好没,还要填什
                  么。这个地方的人很多,如果你搭乘下一班航班的时间很紧,你可以跟前面的人说,然后 先走。过边检的时候,移民局的人会问你一些问题,比如说你叫什么?来美国干什么?去哪个学校?专业是什么?为什么学这个专业?之类的问题。有点类似于签证的时候签证官的
                  问题。因为这个不是签证,基本不会影响你入境。所以不需要回答的特别详细,大概一两 句就好了。只要你不是在移民局的黑名单或者不受欢迎的人名单里面的人,大概10-15分 钟就可以过去。然后是照相,按手印。在护照、签证、I-20、I-94上面盖章。然后会把I-94用订书机订在护照上面。I-94很重要,因为你出境要上缴I-94。而且上面也明确写着,如果
                  你丢失了I-94,会对你下次进入美国造成一定的麻烦。还有,要注意在你的护照还有I20上写的留美时间是不是D/S
                </p>
                <p>
                  下面就是提行李了。无论你是否转机,都要自己带着行李过海关。在海关的时候,和 国内一样,有两条通道。绿色的无申报通道和红色的申报通道。只要你说没有食物(主要是不要有肉)、土壤、植物,就有40%的几率不被打开行李。但是如果你说你没有以上东西在行李里面,却碰到了那60%的几率被要求打开行李,被发现了是要罚款的。
                  出来海关,就有专门的工 作人员负责转运行李。交了行李就轻松了。然后进入转机大厅,要安检这里。脱鞋、脱皮带、从电脑包/书包拿出电脑(电脑要单独放一个小篮)。如果时间很急,可以跟保安说,然后走优 先通道。 如果你带的现金或者汇票(银行卡不算)价值超过1W美金,需要在海关填个表,然后就能过。希望大家在填写报关单的时候尽量实事求是,不懂可以问。美国的法制比国内健全,如果发现瞒报或者漏报,查出来会很麻烦的。
                  TIPs: 随身带1-2支笔一路填表会方便很多。护照和I-20一定要放在容易拿出来的地方以便于入关检查。推荐立式的行李箱,这样可以一手拉两个另一手拉随身行李。到达波士顿以后手推车是收费的(小的5 USD,大的10
                  USD,最好身上备有零钱),只有在入境过海关的时候手推车免费。 出来海关,就有专门的工作人员负责转运行李。交了行李就轻松了。然后进入转机大厅,要安检这里。脱鞋、脱皮 带、打开电脑(只是打开翻开,不用开电源)。如果时间很急,可以跟保安说,然后走优
                  先通道。 然后就是转航班了。如果在加拿大转机,不在机场过夜不需要办理过境签证,不需要自己拿行李转机。建议大家都带上航程票,以免出现意外。如果你误机了,航空公司会为你免费安排一架新航班。(这个貌似是在买机票的时候要买误机保险的)不要着急。如果出现紧急情况当场无法处理,请与中国学生会联系。
                  祝大家飞行顺利!
                </p>
                <h3 align="left">
                  到达
                </h3>
                <p>
                  订了limo的联系limo,或到指定地方等待;订了学长姐接送的联系学长姐,或到指定地方等待。突发情况请联系CSSA。 如果是到波士顿Logan机场的同学可以打开无线,上网联系家人朋友。Logan机场的无线是免费的;一般美国机场没有免费无线。
                </p>
              </div>
              <div *ngSwitchCase="'Before Term Begins'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <mat-tab-group>
                  <mat-tab label="注册&选课">
                    <p>
                      新生的I-20或者DS2019表格上会有明确的开学日期。 到WPI后请务必尽快到International House的Janice处报道,见Tom。
                    </p>
                    <p>
                      去Health Center交体检表,工作人员会检查一下你填的表,她说ok你就可以走了;或者她会告诉你等邮件通知,也许需要补充资料。
                    </p>
                    <p>
                      去East Hall一楼ID Office办ID。去之前可以洗漱打扮一下,美国都是当场拍照制卡的。所以想要ID照片美丽帅气,请打扮一下
                    </p>
                    <p>
                      连接wpi-setup，打开网页按照流程下载安装程序后连接wpi-wireless就能上网了
                    </p>
                    <p>
                      开通WPI邮箱:
                      <a href="http://www.wpi.edu/Academics/CCC/Help/Audiences/incomingstudents.html
                        " target="_blank">http://www.wpi.edu/Academics/CCC/Help/Audiences/incomingstudents.html
                      </a>
                    </p>
                    <p>
                      去自己系里报道,跟项目主管报个到,拿一张Degree/Study Plan,上面有学校官方推荐的选课目录。你可以根据自己的想法选课,但正式注课之前记得和项目主管或者到时讨论一下,咨询一下意见。
                    </p>
                    <p>
                      注课有两种方式,去Registrar填表;网上注册。有些课程还必须亲自到学校的Registry (在Denials Hall)手动选,例如PhD的research学分。其他研究生课程网上注册就好,注册Banner地址:
                      <a href="https://banner-as4.admin.wpi.edu/pls/prod/twbkwbis.P_WWWLogin
                        " target="_blank">https://banner-as4.admin.wpi.edu/pls/prod/twbkwbis.P_WWWLogin
                      </a>
                    </p>
                    <p>
                      另外,如果有些课程已经选满,需要直接联系教授,请他亲自把你加到他的课程里。如果教授同意把你加进去，就拿着打印出来的课程单去找教授签字然后把单子送到registrar。 这个每个系的热门课不一样,可以先咨询一下到时或者老生们。
                    </p>
                  </mat-tab>
                  <mat-tab label="ESL (English as Second Language)">
                    <p>
                      ESL好像不是每个院系都要上的,大家可以咨询一下老生。一般考试应该会在录取通知书上写。 需要参加语言测试,特别是有GA,TA工作的同学。去International House报道的时候,Janice会让你登记什么时候考试;记得准时去考试。
                    </p>
                    <p>
                      尽早去登记考试，越早越容易过。考试不难，放平心态就好。
                    </p>
                  </mat-tab>
                  <mat-tab label="保险&SSN">
                    <b>保险</b>
                    <p>
                      保险有两种:(1)学校统一办的保险;(2)纽约大使馆旗下的保险。
                    </p>
                    <p>
                      学校的保险好处在于出问题之后兑付有保障,速度比较快;不过比较贵。2011年秋季大约是1,100美元一年。大使馆的保险就比较便宜一点;不过可能因为中间隔着一个大使馆,程序上多一步对付速度就慢一点。大使馆的保险因为是近两年才出现的,所以暂时不确定到底他与学校保险的区别。我们在此也只是提供两种选择,请同学们自己斟酌购买。
                    </p>
                    <b>
                      SSN
                    </b>
                    <p>
                      凡是有GA,TA的同学都需要办SSN。刚开学的时候International House开一个SSN介绍会,教你怎么填申请表。之后需要你自己去SSA楼(Main Street附近)办理。
                    </p>
                  </mat-tab>
                  <mat-label label="银行开户">
                    <p>
                      Worcester这边主要的储蓄银行有Bank of America, Citi Bank, TD bank north, Sovereign Bank,Chase Bank等。储蓄利息稍有差别,不过由于金融危机,存款利率现在几乎为零。美国的银行一般分为全国性银行(如Bank
                      of America,Citi Bank和chase bank)和地方性银行(TD bank north,Sovereign Bank等)。TD bank north,Sovereign Bank主要服务于美国东北部,办理他们的帐户和debit
                      card一般只能在东北部使用。
                    </p>
                    <p>
                      新生一般都去Park Ave上那家Bank of America开户(255 Park Ave, Worcester, MA),办借记卡(Debit Card,暂时也只能办借记卡);带着I-20,护照,学生ID就可以了。进去找客户经理办理,一人在一个小单间里的;Assistant
                      manager相当热情,会给你把业务介绍个遍。然后BOA的卡你可以选择要不要把自己的照片放在借记卡上。填写收卡地址的时候如果还没有找到房子的同学,可以填学长学姐的地址,留好联系方式。
                    </p>
                    <p>
                      BOA不收服务费有两种选择,一是永远保证savings account里面有300刀;第二种就是每个月在你指定的那一天从Checking Account转25美元刀Savings Account(你可以选择自动转,比较省心)。没满足这两点之一的话,服务费好像是6美元一个月;你下个月又满足条件了,服务费也不会收了。然后就是借记卡不要透支,透支一次扣至少35美元服务费。
                    </p>
                    <p>
                      办卡整个过程非常轻松愉悦,就是时间有点长;过程中你只要输入密码和签名就可以了,申请材料什么的你就让他们填写。当没收到卡之前她会提供一个Temporary card,记住这个卡一样要个带VISA功能的,这样就不用每次都输入密码而是签名了(可以用中文签名,一样没问题)。
                      收到卡后要按照安装流程去网站激活， 祝大家办卡办得顺利。
                    </p>
                    <p>
                      刚刚办好的借记卡一般由eBanking Checking Account和Regular Saving Account组成,这是两种最初级的BOA账户.存款超过2000刀的还可以要求升级为Enhanced Checking Account,可以向银行免费要支票,方便付房租和学费.超过2500刀可以升级为Money
                      Market Saving Account,每个月可以免费转账提款6次.
                    </p>
                  </mat-label>
                  <mat-tab label="汇款&工资">
                    <b>汇款</b>
                    <p>
                      开好银行账户之后就可以汇款交学费了。首先,你需要提供给家人的信息有(以上面说的 BOA, Park Ave为例):
                    </p>
                    <ul>
                      <li>
                        银行名:Park View, Bank of America
                      </li>
                      <li>
                        开户地:255 Park Avenue, Worcester, MA, 01609
                      </li>
                      <li>
                        户主:San Zhang (张三)
                      </li>
                      <li>
                        账号:1234 5678 9012(你的Checking或Savings的16位账号)
                      </li>
                      <li>
                        户主地址:900 West St, Worcester, MA 01609(你开户时的地址)
                      </li>
                      <li>
                        Routing number: 123 456 789(这个问银行要)
                      </li>
                      <li>
                        Swift Code:xxxxxxxx (问银行要)
                      </li>
                    </ul>
                    <p>
                      交学费的时候这样交就可以了。今年学校信息有所更新,请提交表单的时候拿着学校网站上的汇款帮助信息向银行确认。(注意,表单上的学校地址也不正确,要以学校网站上的信息为准)学校网站可以提供电子支票的支付方式,当你来到美国,办理了借记卡后,可以通过美国银行的电子支票进行支付,也可以买银行的纸质支票进行支付。钱可以自己带一部分,然后从国内汇款到你在美国的银行账户里,也可以在国内银行开好汇票,带过来给银行,一般当天会到账一小部分,剩下的部分5个工作日左右到账,好处就是万一汇票丢失的话可以挂失。
                    </p>
                    <p>
                      据我们所知,可以办建设银行的龙卡,好像是无年费的。中国建设银行是和美国银行(Bank ofAmerica)有友好关系的,于是建行用户如果向BOA电汇(wireless transfer)是免手续费的。这种方法需要你先有美国BOA的账户,因此此法可能不适用于第一次交学费。请不要小看手续费。两头都扣个百分之几是会造成很大的损失的。这种汇款之迅速,
                      1天之内就可以收到。缺点就是每天汇不能大于2000美元,所以可以分几天汇,然后写一张支票交到Accounting Office,或者网上填写电子支票就可以教学费了。除此之外,建行龙卡在BOA的提款机提款500美金一下是无手续费的,必要时可以应急。据说成都建行没有汇款服务,但是有龙卡提款政策。所以各地同学请务必咨询当地建行政策。如果没有免收手续费政策,请不要在建设银行汇款而在中国
                      银行。因为中国银行的汇率通常比建行低$0.005-0.006。 各大城市建行都有这个服务,问一下建行网点就行了,也不必要非得龙卡,具体是每个月每个BOA账号可汇4,000美元,每笔上限2,000美元,如果用钱多的可以让家长一人开一个建行再拿自己身份证开个一共三个账号,12,000美元怎么都够用了。为了保险,各位同学请亲自打电话或者去建行分行核实以上信息!!!
                    </p>
                    <b>
                      工资
                    </b>
                    <p>
                      有Graduate Assistant, Teaching Assistant的同学,带上I-20,学生ID,SSN,和银行账号去 Human Resource(Boynton Hall二楼)填表,建立工资账户。记得添一张Direct Deposit的单子,这样以后学校发的工资就可以之家打到你的银行账户里了。
                    </p>
                    <p>
                      税表
                    </p>
                    <p>
                      所有国际学生，如果在当年没有任何应申报收入，则只需要在6月15日(the due date (including extensions) for filing Form 1040NR or Form 1040NR-EZ)之前邮寄填写Form
                      8843到以下地址。
                    </p>
                    <ul>
                      <li>Department of the Treasury,</li>
                      <li>
                        Internal Revenue Service Center,
                      </li>
                      <li>
                        Austin, TX 73301-0215
                      </li>
                    </ul>
                    <p>
                      如果当年有收入，根据不同的情况需要填写不同的表格，Form 1040NR or Form 1040NR-EZ，需在每年4月15日前填好相应税表寄出。有收入情况的税表比较复杂，每年Tax season，International House都会有关于税表的workshop，请留意IH网站。但这个workshop不教怎么填税表，只普及税表相关知识。具体税表怎么填可以到IH凭学生证号购买6刀的税表填写软件。这个软件会问你一些问题，然后你根据你的回答自动生成填好的表格，接下来只要签名就好啦。
                    </p>
                  </mat-tab>
                  <mat-tab label="手机入网及电话">
                    <p>
                      千里传佳音,打电话是必不可少的。美国有AT&T, Verizon, T-Mobile, Sprint等几家大的 电信运营商。具体资费少有不同。对于酷爱旅游的同学们来说,外出游玩时一个可以上网的手机是十分必要的,以上几大运营商都提供可以上网的手机和plan,可以自行选择。
                    </p>
                    <p>
                      选好了公司下一步是选择plan。新来的同学通常没有SSN和信用记录,如果新开一个 帐户的话,要交比较高的deposit,大概每个人500美元。不过开手机帐户可以增加信用记录,这是一个好处。如果为了省钱,那么最好的办法就是加入老生的Family
                      Plan。Family Plan的意思是,老生作为户主拥有账户,然后多申请一个号码给新生。Family Plan的费用大概是20-30美元/人(用智能手机的话大概40-50美元/人);新开账户的话要40-50美元/人。不过具体也要看你办的Family
                      Plan里面人越多约便宜。
                    </p>
                    <p>
                      办好了手机就可以享受美国无比自由的通信了。美国没有漫游,所以在全国各地打电 话是一样的。 另外,大部分手机的plan,在晚上9点以后到第二天早上6点之前是免费的,周 六周日也是免费。所以用手机,可以在晚间和周末跟美国其他地方的朋友煲电话粥,联络感
                      情。
                    </p>
                  </mat-tab>
                  <mat-tab label="信用卡">
                    <p>
                      美国的消费基本是用信用卡结算的,先刷卡,再还款。这样做的好处有几点:
                    </p>
                    <ul>
                      <li>
                        安全。因为你并没有把钱存在信用卡里,所以一旦有人盗用,你可以通知银行,waive掉 不属于你的花费。如果借记卡被盗用,就会损失很大了。
                      </li>
                      <li>
                        信用卡通常有很多种优惠措施,有的会有折扣,比如有些学生信用卡开始六个月有5%的折扣,cash back,还有的可以积分换东西等等。
                      </li>
                      <li>
                        积攒信用值,方便自己以后在美国贷款买东西(笔记本电脑,车,房子等)。当然信用卡也有问题,就是不容易控制自己的购买欲望。因为刷卡和支付现金的感觉 很不一样, 通常有了高额度的信用卡之后,花钱的速度会变快很多。
                      </li>
                    </ul>
                    <p>
                      言归正传,美国的信用卡种类实在太多,很难总结出最适合的一种,通常每个人有两 三张卡,一张有购物优惠,一张有加油或者吃饭优惠(一般会有1%-5%的cash back)等 等。大多数好的信用卡要等到有SSN之后,甚至要积累一定信用记录之后才可以申请的到。
                    </p>
                    <p>
                      刚拿到SSN的同学可以去申请Bank of America的学生信用卡,在Park Ave上的那家支行就可以办理,这张信用卡申请的门槛比较低,限额不高。 当自己的信用值逐渐积累起来后,可以申请一些比较好的信用卡,比如American Express的Bluecash,Discover的More
                      card等,这些信用卡除了cash back外,一般还有 一些其他服务,比如说垫付航空保险,部分租车保险或者积分赠送机票等
                    </p>
                    <p>
                      但是要注意的是American Express和Discover的卡好多地方不收,所以申请一张master或者visa卡是很有必要的。 美国的金融体系十分发达,有很多理财的技巧,比如申请不同的信用卡组合使用。我 推荐MITBBS的Money板,里面有不少有用的信息,
                      <a href="http://www.mitbbs.com/bbsdoc/Money.html
                      " target="_blank">http://www.mitbbs.com/bbsdoc/Money.html</a>
                    </p>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div *ngSwitchCase="'Life in WPI'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <mat-tab-group>
                  <mat-tab label="学校设施">
                    <b>SNAP</b>
                    <p>
                      SNAP全称Security Night Assistance Patrol,是由学生驾驶学校汽车,在晚间提供住处 和学校之间通行的免费服务。简单的说,就是免费出租车。这项服务可以提供学校范围内1英里内任意住宅区和学校的接送服务。通常不提供包含商业地点(比如餐厅超市商场)的接送,但是好像是可以送最近的price
                      chopper。除了1英里内的住宅区和学校内,还可以从Union Station接你回来,也可以送你 去那里。他们的工作时间是,冬季16点到凌晨4点,夏季18点到凌晨6点,具体时间会 可能有所变化,学校放假期间基本不工作。具体安排注意查收邮件,WPI邮箱。
                      在校园内的紧急电话终端、校内分机上拨打6111或者用手机拨打508-831-6111,可以联通他们的“总台”。通常你会听到:”SNAP, your call has been recorded.”这时候你可以
                      说”Hi, I need a ride from Union Station to Founder’s Hall”
                    </p>
                    <b>
                      餐厅
                    </b>
                    <p>
                      学校餐厅在Morgan Hall,也是吃自助大约11刀一个人。还有不推荐去的campus center，难吃且贵。最后Founder’s Hall有一个学校的Pub,提供美式dishes.
                    </p>
                    <b>
                      体育健身
                    </b>
                    <p>
                      学校体育设施开放时间:
                      <a href="http://wpi.prestosports.com/navbar_white/facilities/11_12_Facility_Hours_C_and_D_Terms.pdf
                      " target="_blank">http://wpi.prestosports.com/navbar_white/facilities/11_12_Facility_Hours_C_and_D_Terms.pdf
                      </a>
                    </p>
                    <p>
                      学校体育设施预约查询:
                      <a href="http://wpi.prestosports.com/navbar_white/facilities/index

                        " target="_blank">http://wpi.prestosports.com/navbar_white/facilities/index

                      </a>
                      To view the scheduled events底下的四个选项就是各个场馆的具体预约信息
                    </p>
                    <p>
                      进GYM记得带ID！！！！
                    </p>
                    <ul>
                      <li>
                        健身房从一楼进去左边就是，二楼也有一些器械。
                      </li>
                      <li>
                        乒乓球台四个(篮球场的一侧,移动看台后面)
                      </li>
                      <li>
                        羽毛球场四个(在篮球场两侧,羽毛球网在移动看台后面,得自己搬运和架设)○壁球馆一个(从篮球馆侧面可以下去).
                      </li>
                      <li>
                        游泳池在楼下。游泳池只有四道,长度60英尺 。游泳池旁边的有用板,脚蹼等都可以随便用。 ○网球场 。Salisbury St北面有一块,三片场子,地裂网塌。Park Ave西面,就是学校体育场的对面再往右一点有一块,六片场,地平网挺,而且这块场子是属于WPI,门口写着WPI学生教师优先
                        。网球场有小半年都不开,因为下雪 。A/D term下午会有WPI网球课占用场地
                      </li>
                      <li>
                        保龄球馆Gompei's Gutters。在体育馆背面,朝着Campus Center,一个小门。好像可以要免费券更衣室和浴室 。更衣室的衣橱(locker)可以申请,要一个密码锁(Combination Lock)。申请的地方就在更衣室的Harrington
                        Auditorium那面的出口附近,不太好找。研究生申请得等一阵子才有消息。 浴室有冷热水,有浴液。(最好自己带浴液,这里的浴液不太好用)
                      </li>
                      <li>
                        喜欢跑步的可以考虑一楼跑步机，楼上室内跑道，或者体育馆后面的室外跑道。
                      </li>
                    </ul>
                    <b>学生社团</b>
                    <p>
                      <a href="http://www.wpi.edu/campuslife/clubs.html
                      " target="_blank">http://www.wpi.edu/campuslife/clubs.html
                      </a>
                      <b>学生活动</b>
                      <p>
                        Student Government Association (SGA)活动表:
                        <a href="https://scheduling.wpi.edu/wv3/wv3_servlet/urd/run/wv_event.DayList?evdt=20130509,evfilter=
                        737296,ebdviewmode=list
                        
                        " target="_blank">https://scheduling.wpi.edu/wv3/wv3_servlet/urd/run/wv_event.DayList?evdt=20130509,evfilter= 737296,ebdviewmode=list
                        </a>
                      </p>
                      <p>Graduate Student Government (GSG)活动表:
                        <a href="https://orgsync.com/43823/events" target="_blank">https://orgsync.com/43823/events</a>
                      </p>
                      <b>关于WPI邮箱</b>
                      <p>
                        美国的习惯是用电子邮件联络,所以大家要养成查看自己邮箱的习惯。老师的通知,学校的活动,小组项目的进程可能都在你邮箱里;不要错过了!!!另外,收到重要邮件尽量回复一下,以表示你收到了。
                      </p>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div *ngSwitchCase="'Come back to China'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Postscript'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Appendix'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
              <div *ngSwitchCase="'Acknowledgments'">
                <h2 align="right">{{selected}}</h2>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</body>