h3 { padding:20px; text-align:center; }

ngx-carousel .ngxcarouselPointDefault {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
ngx-carousel .ngxcarouselPoint li {
  transform: scale(1);
}

ngx-carousel  button {
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 999%;
  margin: auto;
}

ngx-carousel button[NgxCarouselPrev] {
  left: 50px;
}
ngx-carousel button[NgxCarouselNext] {
  right: 50px;
}
